  body {
    display: flex;
    justify-content: space-around;
    margin: 2rem;
  }

  .container {
    background-color: aliceblue;
    flex-direction: column;
    display: flex;
    justify-content: top;
    align-items: flex-start;
    padding: 3rem;
    border: solid 1px rgb(41, 155, 255);
  }

  .calendar {
    max-width: 500px;
    background-color: rgb(134, 199, 255);
    padding: 30px;
    border-radius: 10px;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
  }
  
  .day-header, .day {
    text-align: center;
    padding: 10px;
    border-radius: 4px;
    background-color: #ffffff;
  }
  
  .day {
    background-color: #ffffff;
    cursor: pointer;
  }
  